.input_select {
    border: none;
    color: var(--text-primary);
    background-color: var(--background-highlighted);
    outline: none;
}

.form-check-input:checked {
    background-color: var(--background-highlighted);
    border-color: var(--background-highlighted);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(100 100 100 / 25%);
    border-color: var(--background-highlighted);
}

.form-check-input {
    background-color: var(--background-secondary);
}

.top_search {
    outline: 0;
    width: 230px;
    border-radius: 10px;
}

.search_icon {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.92%22%3E%3Cpath%20opacity%3D%22.1%22%20d%3D%22M0%200H16V16H0z%22%2F%3E%3Cpath%20d%3D%22M6.5%201a5.5%205.5%200%200%201%204.383%208.823l3.896%203.9a.75.75%200%200%201-1.061%201.06l-3.895-3.9A5.5%205.5%200%201%201%206.5%201zm0%201.5a4%204%200%201%200%200%208%204%204%200%200%200%200-8z%22%20fill%3D%22%23666%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: 10px;
    padding: 0 0 0 34px;
}

.sub_head {
    color: var(--text_subhead);
    font-size: 11.5px;
    font-weight: 700;
    padding: 8px 10px 5px;
    border-top: 1px solid var(--separator_common);
    --gray_400: #939393;
}

.search_dropdown {
    width: 230px;
    overflow-y: auto;
}

.search_dropdown .row_card:hover {
    background-color: var(--background-hover);
}

.search_all_results {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.search_all_text {
    font-size: 12px;
    font-weight: bold;
}