.conversation_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 384px;
    height: 216px;
    position: relative;
    border-radius: 10px;
    background: var(--background-secondary);

    .conversation_video {
        width: 100%;
        height: 100%;
    }

    .conversation_avatar {
        width: 50px;
        height: 50px;
    }

    .watermark {
        position: absolute;
        right: 10px;
        bottom: 10px;
        background-color: rgba($color: #000000, $alpha: 0.2);
        border-radius: 10px;
        padding: 5px 15px;
    }
}