.friends_main {
    color: var(--text-primary);
}

.text_primary_a {
    color: var(--text-primary);

}

.text_primary_a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.friends_list {
    padding: 0px 20px 0px 20px;
}