.videos_container {
    .videos_wrap {
        --max-grid-column: 6;
        grid-template-columns: [col-start] repeat(auto-fill, minmax(max(275px, (100% - (var(--max-grid-column))*12px)/var(--max-grid-column)), 1fr)) [col-end];
        display: grid;
        width: 100%;
        gap: 12px;
        padding: 12px;
    }

    @media (max-width: 768px) {
        .videos_wrap {
            padding: 0;

            .video_info {
                padding: 5px;
            }
        }
    }
}