.mv_info {
    border-top: 1px solid #dee2e6;
    font-size: 16px;
}

.mv_title_block {
    padding: 12px 16px 12px;
}

.mv_title_date::before {
    padding: 0 6px;
    content: '\00b7';
}

.mv_title_info {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    color: var(--text-secondary);
    line-height: 1;
}

.mv_actions {
    border-bottom: 1px solid var(--separator-common);
    border-top: 1px solid var(--separator-common);
    display: flex;
    margin-bottom: 10px;
    padding: 0px 12px;
}

.mv_author {
    display: flex;
    align-items: center;
    padding: 0px 12px;
}

.mv_description {
    padding: 0px 12px;
}

.mv_comments_wrap {
    padding: 0px 12px;
}

.modal_video {
    .modal_body {
        padding: 0;
    }
}