.images_container {
    // --max-grid-column: 6;
    // grid-template-columns: [col-start] repeat(auto-fill, minmax(max(275px, (100% - (var(--max-grid-column)) * 12px) / var(--max-grid-column)), 1fr)) [col-end];
    // display: grid;
    // gap: 24px 12px;

    --max-grid-column: 4;
    grid-template-columns: repeat(auto-fill, minmax(max(160px, (100% - (var(--max-grid-column)) * 8px) / var(--max-grid-column)), 1fr));
    display: grid;
    gap: 8px 8px;
}

.images_container {
    .image_holder {
        flex: 1 0 100px;
        min-width: 150px;
        max-height: max(10vw, 100px);
        cursor: pointer;

        img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}

.attach_image_modal {
    .albums_container {
        padding: 0;
    }
}